Repository red-hat-data-services/ods-ci, pull requests merged in 2022-04, with the labels that each got.

#292 Add test to verify jupyterlab and notebook library versions for Openvino operator
  tests/Resources/Page/ODH/AiApps/Openvino.robot
  tests/Tests/600__ai_apps/660__openvino/660__openvino.robot
Labels: needs testing, new test

#297 Add email address to addon notification field
  utils/scripts/ocm/ocm.py
  utils/scripts/ocm/templates/notification_email.jinja
Labels: utils

#208 ODS-293 - Verify if users can use custom rhods groups to access JH
  tests/Resources/ODS.robot
  tests/Resources/Page/OCPDashboard/DeploymentConfigs/DeploymentConfigs.robot
  tests/Resources/Page/OCPDashboard/UserManagement/Groups.robot
  tests/Resources/Page/ODH/JupyterHub/HighAvailability.robot
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
  tests/Tests/400__ods_dashboard/400__ods_dashboard.robot
  tests/Tests/500__jupyterhub/jupyterhub-user-access.robot
Labels: verified, new test

#239 Add test for RHODS/RHOAM install and unistall scenarios
  libs/Helpers.py
  setup.py
  tests/Resources/Common.robot
  tests/Resources/ODS.robot
  tests/Resources/Page/ODH/AiApps/Rhoam.resource
  tests/Resources/Page/ODH/JupyterHub/JupyterLabLauncher.robot
  tests/Tests/600__ai_apps/640__rhoam/640__rhoam.robot
  tests/Tests/600__ai_apps/640__rhoam/640__rhoam_installation.robot
  utils/scripts/ocm/ocm.py
  utils/scripts/ocm/templates/dms.yaml
  utils/scripts/ocm/templates/install_addon_rhoam.jinja
  utils/scripts/ocm/templates/smpt.yaml
Labels: verified, new test

#299 Add keyword for setting addon notification email
  libs/Helpers.py
Labels: verified, misc

#294 Fix bug in test to verify GPU learning resources in RHODS Resource Section
  tests/Tests/400__ods_dashboard/400__ods_dashboard.robot
Labels: verified, enhancements

#205 [ods-ci container] fix test selection features and other fixes
  build/Dockerfile
  build/README.md
  build/ods-ci.pod.yaml
  build/ods_ci_rbac.yaml
  build/run.sh
  run_robot_test.sh
  test-variables.yml.example
Labels: verified, utils

#252 Added Tests to Verify JupyterHub Pod Logs Dont Have Errors About Distutil Library(ODS-586)
  tests/Resources/Page/ODH/JupyterHub/JupyterLabLauncher.robot
  tests/Tests/100__deploy/100__installation/102__post_install.robot
Labels: verified, new test

#250 Added tests to Verify A Default Image Is Provided And Starts Successfully(ODS-469)
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Tests/500__jupyterhub/test-jupyterlab-notebook.robot
Labels: verified, new test

#275 Verify If It's Possible to Deploy Pachyderm Server and Created Teardown
  tests/Resources/Page/OCPDashboard/InstalledOperators/InstalledOperators.robot
  tests/Resources/Page/OCPDashboard/Page.robot
  tests/Resources/Page/ODH/AiApps/AiApps.resource
  tests/Resources/Page/ODH/AiApps/Pachyderm.robot
  tests/Tests/600__ai_apps/670__pachyderm/670__pachyderm.robot
Labels: verified, new test

#291 Fix build alert tests adjusting the expected alert timeout
  tests/Tests/200__monitor_and_manage/210__alerts/210__alerts.robot
Labels: verified, enhancements

#311 Add tests to Verify A Default Image Is Provided And Server Starts Successfully(ODS-469)
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Tests/500__jupyterhub/test-jupyterlab-notebook.robot
Labels: verified, new test

#315 Add Tests to Verify NVCC Version in Minimal Cuda Image(ODS-483)
  tests/Tests/500__jupyterhub/minimal-cuda-test.robot
Labels: verified, new test

#304 OSD sandbox test case
  tests/Resources/ODS.robot
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Tests/700__sandbox/700__sandbox.robot
Labels: verified, new test

#290 Add Tests to Verify Package Versions in Notebooks(ODS-468)
  tests/Resources/Page/ODH/JupyterHub/JupyterLabLauncher.robot
  tests/Tests/500__jupyterhub/test-versions.robot
Labels: verified, new test

#288 Add test to check access, Gid, Uid of /opt/app-root/lib and /opt/app-root/share (ODS-486)
  tests/Tests/500__jupyterhub/test-folder-permissions.robot
Labels: verified, new test

#321 Add script to upload results in report portal
  utils/scripts/reportportal/rp_uploader.py
Labels: verified, utils

#307 Add email report feature to ods-ci plus RF task compatibility
  build/Dockerfile
  build/Dockerfile_smtpserver
  build/README.md
  build/ods-ci.pod_with_postfix.yaml
  run_robot_test.sh
  utils/scripts/Sender/EmailSender.py
  utils/scripts/Sender/Sender.py
  utils/scripts/Sender/send_report.py
Labels: verified, enhancements

#281 Add testcases for Prometheus metrics "Notebook CPU Usage", "Rhods_Total_Users" and "Rhods_Aggregate_Availability" (ODS-178, ODS-628, ODS-636)
  tests/Tests/200__monitor_and_manage/200__metrics/200__metrics.robot
Labels: verified, new test

#295 NB culler test cases
  libs/Helpers.py
  tests/Tests/500__jupyterhub/culler.robot
Labels: verified, new test, :warning: high priority review

#310 Add test to check dynamic update of available GPUs
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Tests/500__jupyterhub/minimal-cuda-test.robot
Labels: verified, new test, :warning: high priority review

#324 By default, disable email report
  run_robot_test.sh
Labels: verified, enhancements

#286 Add test case to verify filters in RHODS Dashboard resources page (ODS-489)
  tests/Tests/400__ods_dashboard/400__ods_dashboard.robot
Labels: verified, new test

#326 Workaround fix for idp discovery issue
  utils/scripts/ocm/ocm.py
Labels: verified, utils

#306 Add Test to Verify that MT-SRE can connect to Grafana using port-forwarding
  tests/Resources/ODS.robot
  tests/Resources/Page/OCPDashboard/Monitoring/Grafana.robot
  tests/Tests/200__monitor_and_manage/220__grafana/220__test_verify_port_forwarding_grafana.robot
Labels: verified, new test

#244 Add Test to Verify Default Access Groups Settings And JupyterLab Notebook Access (ODS-1164)
  tests/Resources/ODS.robot
  tests/Resources/Page/OCPDashboard/Page.robot
  tests/Tests/100__deploy/110__auth_providers_and_rbac/110__rbac.robot
Labels: verified, new test

#262 Verify Tensorflow Can Be Installed In The Minimal Python Image Via Pip [RHODS-3350 ODS-555 ODS-908 ODS-535]
  libs/Helpers.py
  tests/Resources/Page/ODH/JupyterHub/JupyterLabLauncher.robot
  tests/Tests/500__jupyterhub/test-minimal-image.robot
Labels: verified, new test

#327 add github account info into test-variables
  utils/scripts/testconfig/generateTestConfigFile.py
  utils/scripts/testconfig/test-variables.yml
Labels: needs testing

#316 pvc save changes button
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
Labels: verified, enhancements, :warning: high priority review

#319 Add Tests to Verify "Notebook images are building" is not shown when no images are building(ODS-307)
  tests/Resources/Page/OCPDashboard/Builds/Builds.robot
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
  tests/Tests/400__ods_dashboard/400__ods_dashboard.robot
Labels: verified, new test

#330 change notbook size
  tests/Tests/400__ods_dashboard/411__ods_dashboard_settings_pvc_size.robot
Labels: enhancements

#313 add jq to test container image
  build/Dockerfile
Labels: verified, enhancements
