Repository red-hat-data-services/ods-ci, pull requests merged in 2022-03, with the labels that each got.

#221 Refactor prometheus alerts. Lint and check robocop rules
  tests/Resources/Page/ODH/Prometheus/Prometheus.robot
  tests/Tests/200__monitor_and_manage/200__metrics/203__alerts.robot
Labels: verified, enhancements

#223 Add Polarion ID for CUDA TC
  tests/Tests/500__jupyterhub/minimal-cuda-test.robot
Labels: verified, enhancements

#225 Verify that Prometheus image is a CPaaS built image with oc(ODS-734)
  tests/Resources/Page/OCPDashboard/Pods/Pods.robot
  tests/Tests/100__deploy/100__installation/102__post_install.robot
Labels: verified, new test

#216 Automated test for text formatting bug - RHODS-3149
  tests/Resources/Common.robot
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
  tests/Tests/400_ods_dashboard/400_ods_dashboard.robot
Labels: verified, new test

#231 Add GitHub release config to create release notes automatically
  .github/release.yml
  .gitignore
Labels: misc

#226 Add new tests for alerts (DeadManSnitch and SLO)
  tests/Resources/ODS.robot
  tests/Resources/Page/ODH/Prometheus/Prometheus.robot
  tests/Tests/200__monitor_and_manage/200__metrics/203__alerts.robot
  tests/Tests/200__monitor_and_manage/210__alerts/210__alerts.robot
Labels: verified, new test

#213 [Test/lib]capture and verify if kfdef event is streaming in openshift or not
  tests/Resources/Page/OCPDashboard/Events/Events.resource
  tests/Tests/100__deploy/130__operators/130__rhods_operator/139__rhods_kfdef_event.robot
Labels: verified, new test

#229 implemented ODS-320 Verify jupyterlab server pods are spawned in a custom namespace (rhods-notebooks)
  tests/Tests/500__jupyterhub/test-minimal-image.robot
Labels: verified

#228 [Test lib] Added test case for verifying if pachyderm is installed
  tests/Tests/600__ai_apps/670__pachyderm/670__pachyderm.robot
Labels: verified, new test

#237 Use "Fix Spawner Status" in between server teardowns
  tests/Tests/500__jupyterhub/test-versions.robot
Labels: enhancements

#235 Fix keyword conflict for post-install
  tests/Resources/OCP.resource
  tests/Tests/100__deploy/100__installation/102__post_install.robot
Labels: enhancements

#233 Add test for backend of custom notebook images
  tests/Resources/Files/custom_image.yaml
  tests/Tests/500__jupyterhub/custom-image.robot
Labels: verified, new test

#227 Add test to verify users get notifications if storage capacity limits get exceeded (ODS-539)
  tests/Resources/Page/ODH/JupyterHub/JupyterLabLauncher.robot
  tests/Tests/500__jupyterhub/test-filling-pvc.robot
Labels: verified

#232 Verify pytorch and tensorflow can be spawned
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Tests/100__deploy/100__installation/102__post_install.robot
Labels: needs testing, new test

#236 Add tests to check the image builds alert (ods-717, ods-790)
  tests/Resources/Page/OCPDashboard/Builds/Builds.robot
  tests/Resources/Page/OCPDashboard/Pods/Pods.robot
  tests/Tests/100__deploy/100__installation/102__post_install.robot
  tests/Tests/200__monitor_and_manage/210__alerts/210__alerts.robot
Labels: needs testing, new test

#242 Add test for verifiying alert severity
  tests/Resources/Page/ODH/Prometheus/Prometheus.robot
  tests/Tests/200__monitor_and_manage/210__alerts/210__alerts.robot
Labels: verified, new test

#243 Add new NB for GPU testing of PyTorch
  tests/Tests/500__jupyterhub/minimal-pytorch-test.robot
Labels: needs testing, enhancements

#253 Fix HCC Splash page on login and increased timeout to check card existence on Enabled page
  tests/Resources/Page/HybridCloudConsole/HCCLogin.robot
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
Labels: enhancements

#245 Add Test Pager Duty Secret Verification
  tests/Tests/200__monitor_and_manage/200__metrics/204_check_pager_duty.robot
Labels: verified, new test

#257 Add test to check JupyterHub version >=1.5,<2.0
  tests/Resources/Page/OCPDashboard/InstalledOperators/InstalledOperators.robot
  tests/Resources/Page/ODH/JupyterHub/HighAvailability.robot
  tests/Tests/100__deploy/100__installation/102__post_install.robot
Labels: verified, new test

#197 Verify documentation link from dashboard [ods-327 , ods-492]
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
  tests/Tests/400_ods_dashboard/400_ods_dashboard.robot
Labels: verified, new test

#265 Remove build alert tests from Sanity
  tests/Tests/200__monitor_and_manage/210__alerts/210__alerts.robot
Labels: needs testing, enhancements

#264 Add tests to verify access to the dashboard settings and Usage Data Collection
  tests/Resources/ODS.robot
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
  tests/Tests/100__deploy/100__installation/102__post_install.robot
  tests/Tests/400__ods_dashboard/400__ods_dashboard.robot
  tests/Tests/400__ods_dashboard/410__ods_dashboard_settings.robot
Labels: verified, new test

#256 Add Test to Verify git plugin
  tests/Tests/500__jupyterhub/test-versions.robot
Labels: verified

#273 Verify Login Page Appears While Reaching RHODS Page
  tests/Tests/400__ods_dashboard/400__ods_dashboard.robot
Labels: verified

#270 Verify Oath-Proxy Image is fetched From CPaaS
  tests/Tests/100__deploy/100__installation/102__post_install.robot
Labels: verified

#255 Change User Server Cleanup Keyword
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Resources/Page/ODH/JupyterHub/JupyterLabLauncher.robot
Labels: verified, enhancements

#199 Add tests to verify logged in users is displayed in dashboard (ODS-354)
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
  tests/Tests/400__ods_dashboard/400__ods_dashboard.robot
Labels: verified, new test

#272 Verify GPU Items Appears In Resources Page
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
  tests/Tests/400__ods_dashboard/400__ods_dashboard.robot
Labels: verified, new test

#277 Change requirements to robotframework 4.* (and not 5.x)
  setup.py
Labels: verified, enhancements

#267 Skip alert severity test for RHODS < 1.9.0
  tests/Tests/200__monitor_and_manage/210__alerts/210__alerts.robot
Labels: verified, enhancements

#283 Add machine pool if the machine pool not exists with given name
  utils/scripts/ocm/ocm.py
Labels: verified, enhancements, utils

#280 Verify functionality for multiple GPUs in same cluster [RHODS-3190]
  tests/Resources/Page/OCPDashboard/Pods/Pods.robot
  tests/Resources/Page/ODH/JupyterHub/GPU.resource
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Resources/Page/ODH/JupyterHub/JupyterLabLauncher.robot
  tests/Tests/500__jupyterhub/multiple-gpus.robot
Labels: verified, new test

#282 Add test case for backend and ui of PVC change
  tests/Resources/Page/OCPDashboard/ConfigMaps/ConfigMaps.robot
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Resources/Page/ODH/JupyterHub/JupyterLabLauncher.robot
  tests/Resources/Page/ODH/JupyterHub/ODHJupyterhub.resource
  tests/Resources/Page/ODH/JupyterHub/PVCChange.resource
  tests/Resources/Page/ODH/ODHDashboard/ODHDashboard.robot
  tests/Tests/400__ods_dashboard/411__ods_dashboard_settings_pvc_size.robot
Labels: verified, new test

#287 Add Execution-Time-Over-30m to build alert tests + small enhacenments
  tests/Tests/200__monitor_and_manage/210__alerts/210__alerts.robot
  tests/Tests/500__jupyterhub/test.robot
  tests/Tests/600__ai_apps/620__intel_aikit/620__intel_aikit.robot
  tests/Tests/600__ai_apps/660__openvino/660__openvino.robot
Labels: enhancements

#284 Add test case to verify jupyterlab and notebook version in Anaconda i…
  tests/Resources/Page/ODH/AiApps/Anaconda.resource
  tests/Resources/Page/ODH/JupyterHub/JupyterHubSpawner.robot
  tests/Tests/600__ai_apps/600__anaconda_commercial_edition/600__anaconda_commercial_edition.robot
Labels: verified, new test
